body {
    font-family: sans-serif;
}

#sidebar {
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    transition: width 0.75s;
    background-image: linear-gradient(red, white);
}

#data1500Logo, #adse1310Logo, #openSidebar {
    width: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 10px;
}

#sidebar:hover {
    width: 210px;
}

.phText {
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 0;
    transition: opacity 0.5s;
}

#sidebar:hover > .phText {
    opacity: 100;
}

#header {
    text-align: center;
}
